---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*
FormatStyle: file
WarningsAsErrors: true
